h1,
h2,
h3,
h4,
h5 {
    color: #DDD
}

body {
    background-color: #171717;
}

.text-center {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.githublink {
    margin-top: 18.5%;
    margin-bottom: 0.25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hrfade {
    border: 0;
    height: 2px;
    width: 35%;
    background-image: linear-gradient(to right, transparent, #bdbdbd, transparent);
    margin: auto;
}

#clanDescription {
    margin: auto;
    max-width: 50ch;
}

.flex {
    display: flex
}

.labelimg {
    padding-right: 7.5%;
}

#clantag {
    border: 3px solid #0e0e0e;
    border-radius: 3px;
    background-color: #2f2f2f;
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: transparent;
    font-size: 0.9vw;
}

#submitbutton {
    border: 3px solid #0e0e0e;
    background-color: #2f2f2f;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #fff;
    /*margin-right: 1vw;*/
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-size: 0.9vw;
}

@for $i from 0 through 49 {
    #member#{$i}:hover {
        color: #9398D6
    }
}